@font-face {
  font-family: "avenir";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/font/AvenirNextLTPro-Bold.otf");
}

/* reset the page */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
  font-family: avenir;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 168px;
  padding: 12px 16px 16px 16px;
  border-bottom: solid 1px #afafaf;
}

.navbar__img {
  margin-bottom: 12px;
}

.navbar__search-container {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.navbar__search-img {
  margin-right: 8px;
}

.navbar__search-input {
  width: 100%;
  height: 100%;
  border: none;
}

.navbar__search-input:focus {
  outline: transparent;
}

.navbar__button-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navbar__upload-link {
  width: 100%;
  margin-right: 16px;
}

.navbar__upload-button {
  font-family: avenir-demi;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  background-color: #0095ff;
  padding: 0;
}

.navbar__upload-button:hover {
  background-color: #0065ad;
}

.navbar__upload-button:focus {
  outline: transparent;
}

.navbar__upload-img {
  margin-right: 10px;
}

.navbar__user-img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

@media only screen and (min-width: 767px) {
  .navbar {
    height: 80px;
    padding: 16px 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar__img {
    margin-right: 169px;
    margin-bottom: 0;
  }
  .navbar__search-container {
    height: 100%;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .navbar__search-input {
    font-size: 14px;
    line-height: 22px;
  }
  .navbar__upload-link {
    margin-right: 24px;
  }
  .navbar__upload-button {
    font-size: 14px;
    line-height: 22px;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar {
    padding: 16px 180px;
  }
  .navbar__img {
    margin-right: 509px;
  }
}

.video__container {
  background-color: #323232;
  width: 100vw;
  height: 57vw;
}

.video__video {
  width: 100%;
  height: 100%;
}

.video__video:focus {
  outline: transparent;
}

@media only screen and (min-width: 767px) {
  .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 52vw;
  }
  .video__video {
    width: 91vw;
  }
}

@media only screen and (min-width: 1440px) {
  .video__container {
    height: 37.5vw;
  }
  .video__video {
    width: 65.5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .video-description {
    padding: 40px 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.videoinfo {
  padding: 32px 16px 40px 16px;
}

.videoinfo__title {
  font-size: 24px;
  line-height: 32px;
  font-family: avenir-bold;
  margin: 0 0 16px 0;
}

.videoinfo__author-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
}

.videoinfo__author {
  font-size: 14px;
  line-height: 22px;
  font-family: avenir-demi;
  margin: 0 8px 0 0;
}

.videoinfo__postdate {
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
}

.videoinfo__view-like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: solid 1px #afafaf;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.videoinfo__view-container {
  margin-right: 24px;
}

.videoinfo__view-img {
  margin-right: 8px;
}

.videoinfo__view-count {
  font-size: 13px;
  line-height: 18px;
}

.videoinfo__like-img {
  margin-right: 8px;
}

.videoinfo__like-count {
  font-size: 13px;
  line-height: 18px;
}

.videoinfo__description {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

@media only screen and (min-width: 767px) {
  .videoinfo {
    padding: 48px 24px 64px 24px;
  }
  .videoinfo__title {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 24px 0;
  }
  .videoinfo__author-date-view-like-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: solid 1px #afafaf;
    padding: 0 0 24px 0;
    margin: 0 0 40px 0;
  }
  .videoinfo__author-post-container {
    margin: 0;
  }
  .videoinfo__author {
    font-size: 16px;
    line-height: 24px;
  }
  .videoinfo__postdate {
    font-size: 16px;
    line-height: 24px;
  }
  .videoinfo__view-like-container {
    margin: 0;
    border: none;
    padding: 0;
  }
  .videoinfo__view-count {
    font-size: 16px;
    line-height: 24px;
  }
  .videoinfo__like-count {
    font-size: 16px;
    line-height: 24px;
  }
  .videoinfo__description {
    font-size: 14px;
    line-height: 22px;
    width: 65vw;
  }
}

@media only screen and (min-width: 1440px) {
  .videoinfo {
    padding: 0;
    width: 49vw;
  }
  .videoinfo__like-container {
    margin: 0 32px 0 0;
  }
  .videoinfo__description {
    width: 36.6vw;
  }
}

.comments {
  padding: 0 16px 0 16px;
}

.comments__title {
  font-size: 14px;
  line-height: 22px;
  font-family: avenir-demi;
  margin: 0 0 32px 0;
}

.comments__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #afafaf;
  padding: 0 0 24px 0;
}

.comments__image-container {
  height: 50px;
  width: 24%;
  margin-top: 25px;
}

.comments__image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.comments__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 76%;
}

.comments__user-input-label {
  font-size: 12px;
  line-height: 20px;
  font-family: avenir-demi;
  color: #afafaf;
  margin-bottom: 5px;
}

.comments__user-input-field {
  font-size: 13px;
  line-height: 18px;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border-color: #e1e1e1;
  background-color: #fafafa;
  height: 30vw;
  width: 100%;
  resize: none;
}

.comments__user-input-field:focus {
  border: 3px solid #0095ff;
  outline: transparent;
}

.comments__user-input-field::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir;
}

.comments__user-input-field:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir;
}

.comments__user-input-field::-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir;
}

.comments__user-input-field::placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir;
}

.comments__form-button {
  height: 50px;
  background-color: #0095ff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-family: avenir-demi;
}

.comments__form-button:focus {
  outline: transparent;
}

.comments__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0 0 0;
  border-bottom: 1px solid #afafaf;
}

.comments__card-left {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comments__card-image {
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #afafaf;
  margin-bottom: 10px;
}

.comments__card-like-button {
  background-color: crimson;
  color: white;
  border-radius: 10px;
  width: 13vw;
  margin-bottom: 5px;
  font-size: 10px;
}

.comments__card-like-button:focus {
  outline: transparent;
}

.comments__card-right {
  width: 76%;
}

.comments__card-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.comments__card-name {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: avenir-demi;
}

.comments__card-date {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #afafaf;
}

.comments__card-delete-button {
  font-size: 12px;
  line-height: 22px;
  border-radius: 10px;
  padding: 1px 3px 1px 5px;
}

.comments__card-delete-button:focus {
  outline: transparent;
}

.comments__card-right-bottom {
  margin-bottom: 16px;
}

.comments__card-comment {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 767px) {
  .comments {
    padding: 0 24px 40px 24px;
  }
  .comments__title {
    font-size: 16px;
    line-height: 24px;
  }
  .comments__input-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 24px 0;
  }
  .comments__image-container {
    width: auto;
    margin: 0;
    margin: 0 16px 0 0;
  }
  .comments__image {
    width: 6vw;
    height: 6vw;
  }
  .comments__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: auto;
    margin: 0;
  }
  .comments__user-input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comments__user-input-label {
    font-size: 12px;
    line-height: 20px;
  }
  .comments__user-input-field {
    font-size: 14px;
    line-height: 22px;
    height: 6.5vw;
    width: 57vw;
    margin: 0 16px 0 0;
  }
  .comments__user-input-field::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .comments__user-input-field:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .comments__user-input-field::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .comments__user-input-field::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .comments__form-button {
    font-size: 16px;
    line-height: 24px;
    width: 20.83vw;
    margin-right: 40px;
    height: 6.5vw;
  }
  .comments__form-button:hover {
    background-color: #0065ad;
  }
  .comments__form-button:focus {
    outline: transparent;
  }
  .comments__card-left {
    width: auto;
    margin-right: 16px;
  }
  .comments__card-image {
    height: 6vw;
    width: 6vw;
    margin-bottom: 24px;
  }
  .comments__card-right {
    width: 81.25vw;
  }
  .comments__card-right-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comments__card-name {
    font-size: 16px;
    line-height: 24px;
  }
  .comments__card-date {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
  }
  .comments__card-delete-button {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 auto;
    padding: 0 0 0 6px;
  }
  .comments__card-comment {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  .comments {
    padding: 48px 0 0 0;
    width: 49vw;
  }
  .comments__title {
    margin-bottom: 56px;
  }
  .comments__form {
    width: 100%;
  }
  .comments__input-container {
    margin: 0;
    width: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .comments__user-input-field {
    width: 30vw;
    height: 3.3vw;
  }
  .comments__form-button {
    margin: 0 32px 0 0;
    width: 100%;
    height: 3.3vw;
  }
  .comments__image-container {
    width: 4.5vw;
  }
  .comments__image {
    width: 3.3vw;
    height: 3.3vw;
    margin-right: 20px;
  }
  .comments__card-like-button {
    width: 3vw;
    margin-bottom: 15px;
  }
  .comments__card {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comments__card-image {
    width: 3vw;
    height: 3vw;
    margin-right: 16px;
  }
  .comments__card-left {
    width: auto;
  }
  .comments__card-right {
    width: auto;
    margin: 0 32px 0 0;
  }
  .comments__card-delete-button {
    padding-right: 2px;
  }
  .comments__card-right-bottom {
    margin-bottom: 24px;
  }
}

.playlist {
  padding: 40px 16px 24px 16px;
}

@media only screen and (min-width: 767px) {
  .playlist {
    padding: 40px 24px 24px 24px;
  }
}

@media only screen and (min-width: 767px) and (min-width: 1440px) {
  .playlist {
    padding: 0 0 24px 24px;
    height: 100%;
  }
}

.playlist__react-link {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 1440px) {
  .playlist__list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
  }
}

.playlist__title {
  font-size: 14px;
  line-height: 22px;
  font-family: avenir-demi;
  color: #afafaf;
  margin: 0 0 40px 0;
}

@media only screen and (min-width: 767px) {
  .playlist__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.playlist__img {
  width: 37.5vw;
  height: 21.8vw;
  border-radius: 4px;
  margin: 0 16px 0 0;
}

@media only screen and (min-width: 767px) {
  .playlist__img {
    width: 15.6vw;
    height: 9.1vw;
  }
}

@media only screen and (min-width: 767px) and (min-width: 1440px) {
  .playlist__img {
    width: 8vw;
    height: 5vw;
  }
}

.playlist__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 24px 0;
}

@media only screen and (min-width: 767px) {
  .playlist__card {
    width: 45vw;
  }
}

@media only screen and (min-width: 767px) and (min-width: 1440px) {
  .playlist__card {
    width: auto;
  }
}

.playlist__video-title {
  font-size: 14px;
  line-height: 22px;
  font-family: avenir-demi;
  display: block;
}

@media only screen and (min-width: 767px) {
  .playlist__video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.playlist__author {
  font-size: 14px;
  line-height: 22px;
  display: block;
}

@media only screen and (min-width: 767px) {
  .playlist__author {
    font-size: 16px;
    line-height: 24px;
  }
}

.upload {
  padding: 24px 16px;
}

@media only screen and (min-width: 767px) {
  .upload {
    padding: 48px 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .upload {
    padding: 48px 180px;
  }
}

.upload__title {
  font-size: 24px;
  line-height: 32px;
  font-family: avenir-bold;
  margin: 0 0 32px 0;
}

@media only screen and (min-width: 767px) {
  .upload__title {
    font-size: 36px;
    line-height: 44px;
    border-bottom: 1px solid #afafaf;
    padding: 0 0 32px 0;
    margin: 0 0 40px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__image-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
}

.upload__image-title {
  font-size: 12px;
  line-height: 20px;
  font-family: avenir-demi;
  color: #afafaf;
  margin: 0;
}

@media only screen and (min-width: 1440px) {
  .upload__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.upload__image {
  width: 100%;
  height: 48vw;
  border-radius: 4px;
  margin: 0 0 32px 0;
}

@media only screen and (min-width: 767px) {
  .upload__image {
    width: 44.8vw;
    height: 23.8vw;
    margin: 0 0 40 0;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__image {
    width: 23.8vw;
    height: 12.8vw;
    margin: 0 24px 0 0;
  }
}

.upload__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 767px) {
  .upload__form {
    margin: 0 0 40px 0;
    border-bottom: 1px solid #afafaf;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__form {
    width: 100%;
    border-bottom: none;
    margin: 0;
  }
}

.upload__video-title-label {
  font-size: 12px;
  line-height: 20px;
  font-family: avenir-demi;
  color: #afafaf;
}

.upload__video-title-input {
  font-family: avenir;
  padding: 16px;
  border: solid 1px #afafaf;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-title-input:focus {
  outline: transparent;
}

.upload__video-title-input::-webkit-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-title-input:-ms-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-title-input::-ms-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-title-input::placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 767px) {
  .upload__video-title-input {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-title-input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-title-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-title-input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-title-input::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}

.upload__video-description-label {
  font-size: 12px;
  line-height: 20px;
  font-family: avenir-demi;
  color: #afafaf;
}

.upload__video-description-input {
  height: 44vw;
  font-family: avenir;
  padding: 16px;
  border: solid 1px #afafaf;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 32px;
  resize: none;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-description-input:focus {
  outline: transparent;
}

.upload__video-description-input::-webkit-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-description-input:-ms-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-description-input::-ms-input-placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

.upload__video-description-input::placeholder {
  font-family: avenir;
  font-size: 13px;
  line-height: 18px;
}

@media only screen and (min-width: 767px) {
  .upload__video-description-input {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
    max-height: 303px;
  }
  .upload__video-description-input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-description-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-description-input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 22px;
  }
  .upload__video-description-input::placeholder {
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__video-description-input {
    max-height: none;
    height: 100%;
    margin-bottom: 0;
  }
}

.upload__publish-cancel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 767px) {
  .upload__publish-cancel-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.upload__publish-button {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir-demi;
  color: #ffffff;
  background-color: #0095ff;
  border-radius: 4px;
  height: 48px;
}

.upload__publish-button:focus {
  outline: transparent;
}

.upload__publish-button:hover {
  background-color: #0065ad;
}

@media only screen and (min-width: 767px) {
  .upload__publish-button {
    font-size: 14px;
    line-height: 22px;
    width: 20vw;
    max-width: 160px;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__publish-button {
    width: 11vw;
    max-width: none;
  }
}

.upload__cancel-button {
  font-size: 13px;
  line-height: 18px;
  font-family: avenir-demi;
  color: #0095ff;
  background-color: none;
  border: none;
  border-radius: 4px;
  height: 48px;
}

.upload__cancel-button:focus {
  outline: transparent;
}

@media only screen and (min-width: 767px) {
  .upload__cancel-button {
    font-size: 14px;
    line-height: 22px;
    margin-right: 48px;
  }
}
/*# sourceMappingURL=App.css.map */