.video {
  &__container {
    background-color: $black;
    width: 100vw;
    height: 57vw;
  }
  &__video {
    width: 100%;
    height: 100%;

    &:focus {
      outline: transparent;
    }
  }
}

@include tablet {
  .video {
    &__container {
      display: flex;
      justify-content: center;
      height: 52vw;
    }

    &__video {
      width: 91vw;
    }
  }
}

@include desktop {
  .video {
    &__container {
      height: 37.5vw;
    }

    &__video {
      width: 65.5vw;
    }
  }
}
